.futties_condition {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 64px 0;
    color: #f3f3f3;
}

.futties_condition h1 {
    padding: 0 0 32px;
}

.condition_delivery {
    display: flex;
    max-width: 72rem;
}

.first_condition, .second_condition, .thrid_condition, .fourth_condition {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    max-width: 25%;
}

.promesse {
    margin: 0 0 12px ;
}

.promesse_desc {
    font-size: 14px;
}

.svg {
    height: 50px;
    width: 50px;
    margin-bottom: 12px;
}


@media screen and (max-width: 1024px) {
    .condition_delivery {
        max-width: 42rem;
    }

    .svg {
        height: 40px;
        width: 40px;
    }

    .promesse {
        text-align: center;
        font-size: 14px;
    }

    .promesse_desc {
        text-align: center;
        font-size: 12px;
    }
}

@media screen and (max-width:425px){

    .futties_condition{
        padding: 64px 0 0 0;
    }

    .condition_delivery {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .first_condition, .second_condition, .thrid_condition, .fourth_condition {
        max-width: max-content;
    }

    .promesse_desc {
        margin-bottom: 50px;
    }
}
