@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

nav {
    height: 90px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-family: "Oswald";
    margin: 0 20px;
    cursor: pointer;
}

.first_container {
    display: flex;
    align-items: center;
}

.first_container ul {
    display: flex;
    list-style-type: none;
}

.first_container li {
    padding:32px 0;
    margin: 0 40px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.first_container li:hover {
    border-bottom: 1px solid #F8F8F8;
}

.last_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.last_container img {
    position: relative;
    cursor: pointer;
    padding: 0 5px;
}

.btn_btn {
    padding: 8px 22px;
    cursor: pointer;
    color: #F8F8F8;
    margin: 0 12px;
    border-radius: 5px;
    font-size: 14px;
}

.btn_btn_login, .btn_btn_logout{
    border: 1px solid rgba(211, 211, 211, 0.5);
    background-color: #282c34;
    padding: 8px 22px;
    cursor: pointer;
    color: #F8F8F8;
    margin: 0 20px;
    border-radius: 5px;
    font-size: 14px;
}

.btn_btn_signup{
    background-color: #F8F8F8;
    color: #282c34;
    border: none;
    padding: 8px 22px;
    cursor: pointer;
    margin: 0 12px;
    border-radius: 5px;
    font-size: 14px;
}

.btn_btn_login, .btn_btn_logout:hover{
    border: 1px solid rgb(211, 211, 211);
}

.btn_btn_signup:hover{
    opacity: 0.5;
}

.profil_svg {
    height: 30px;
    cursor: pointer;
}

.container_logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
}

@media screen and (max-width: 1024px) {

    nav h1 {
        font-size: 18px;
    }

    .first_container li {
        font-size: 14px;
    }

    .btn_btn_login,.btn_btn_signup, .btn_btn_logout {
        font-size: 12px;
    }

    
}

@media screen and (max-width:820px){
    
}

@media screen and (max-width:425px) {
    nav {
        display: none;
    }
}